﻿@model IEnumerable<EntitiesLayer.Dtos.ProductEntriesDTO>

@{
    ViewBag.Title = "ShowEntries";
}

<h2>ShowEntries</h2>

<p>
    @Html.ActionLink("Nueva Entrada", "AddStock", new { @class = "btn btn-primary"})
</p>
<table class="table">
    <tr class = "bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Entry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entry_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Entry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entry_Date)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteEntry", new { id=item.Id }, new { @class = "btn btn-danger"})
        </td>
    </tr> 
}

</table>
