﻿@model IEnumerable<EntitiesLayer.Dtos.ProductDto>

@{
    ViewBag.Title = "FilterByName";
}

<h2>FilterByName</h2>

<table class="table">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditProducts", new { id=item.Id } , new { @class = "btn btn-success"}) |
            @Html.ActionLink("Delete", "DeleteProduct", new { id=item.Id  }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
