﻿@model IEnumerable<EntitiesLayer.Dtos.ProductDto>

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<form action="/Products/FilterByName" method="post">
    <input type="text" name="name" id="name" class="form-control" />
    <button type="submit" class="btn btn-danger">enviar</button>
</form>
<p>
    @Html.ActionLink("Nuevo Producto", "AddProducts", new { @class ="btn btn-primary"})
</p>
<table class="table">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th class="bg-primary">

        </th>
        <th class="bg-primary">

        </th><th class="bg-primary">

        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="">
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
        @Html.ActionLink("Edit", "EditProducts", new { id = item.Id }, new { @class = "btn btn-success" }) |
        @Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id }, new { @class = "btn btn-danger" })
    </td>
</tr>
    }

</table>
