﻿@model IEnumerable<EntitiesLayer.SUPPLIERS>

@{
    ViewBag.Title = "ShowSuppliers";
}

<h2>ShowSuppliers</h2>

<p>
    @Html.ActionLink("Nuevo Proveedor", "AddSuppliers")
</p>
<table class="table">
    <tr class = "bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.RNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSupplier", new { id=item.Id }, new { @class ="btn btn-success"}) |
            @Html.ActionLink("Delete", "DeleteSupplier", new { id = item.Id, }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
