﻿@model IEnumerable<EntitiesLayer.PRODUCTS>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    
</p>

@foreach (var item in Model) {
    string img = $"{item.Name}.jpg"; 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/Img/@img" alt="@item.Name" style="width: 200px ">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">Descripcion del producto que se muestra</p>
            <a href="#" class="btn btn-success">Comprar</a>
        </div>
    </div>
}


