﻿@model IEnumerable<EntitiesLayer.COSTUMERS>

@{
    ViewBag.Title = "ShowCostumers";
    
}

<h2>ShowCostumers</h2>

<p>
    @Html.ActionLink("Registrar", "AddCostumers", new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.RNC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RNC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoty)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCostumers", new { id=item.Id }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "DeleteCostumers", new { id=item.Id }, new { @class = "btn btn-danger"})
        </td>
    </tr>
}

</table>
