﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Glow-Title {
    width: 40%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 25px;
    letter-spacing: 10px;
    animation: anim 2.1s linear infinite;
}

@keyframes anim {
    0% {
        color: #141414;
        text-shadow: none;
    }

    90% {
        color: #fff;
        text-shadow: none;
    }

    100% {
        color: #f3ff08;
        text-shadow: 0 0 25px #ffff17;
    }
}

span:nth-child(1) {
    animation-delay: 0.3s;
}

span:nth-child(2) {
    animation-delay: 0.6s;
}

span:nth-child(3) {
    animation-delay: 0.9s;
}

span:nth-child(4) {
    animation-delay: 1.2s;
}

span:nth-child(5) {
    animation-delay: 1.5s;
}

span:nth-child(6) {
    animation-delay: 1.8s;
}

span:nth-child(7) {
    animation-delay: 2.1s;
}
span:nth-child(8) {
    animation-delay: 2.4s;
}

.a-cardui {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFF;
    overflow: auto;
    padding: 20px 0 15px 0;
}

.gw-card-layout .a-cardui {
    background: #fff;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 20px;
}